<app-header></app-header>

    <div class="container" style="max-width: 40%; margin-top: 10px;">

        <form [formGroup]="formNew" (ngSubmit)="postForm(formNew.getRawValue())">

            <div class="form-group">
                <label for="FormControlInput1">Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
            </div>

            <div class="form-group">
                <label for="FormControlInput1">Numero de celular</label>
                <input type="text" class="form-control" placeholder="Numero de celular" formControlName="telefono">
            </div>
            
            <div class="form-group">
                <label for="FormControlInput1">Correo</label>
                <input type="text" class="form-control" placeholder="Correo" formControlName="correo">
            </div>

            <div class="form-group row">
                <div class="col">
                    <label for="FormControlInput1">Nacionalidad</label>
                    <input type="text" class="form-control" placeholder="Nacionalidad" formControlName="nacionalidad">
                </div>

                <div class="col">
                    <label for="FormControlInput1">Ciudad</label>
                    <input type="text" class="form-control" placeholder="Ciudad" formControlName="ciudad">
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <label for="FormControlInput1">Genero</label>
                    <input type="text" class="form-control" placeholder="Genero" formControlName="genero">
                </div>

                <div class="col">
                    <label for="FormControlInput1">Fecha de nacimiento</label>
                    <input type="text" class="form-control" placeholder="Fecha de nacimiento" formControlName="fechanacimiento">
                </div>
            </div>

            <div class="form-group">
                <label for="FormControlInput1">Estado</label>
                <input type="text" class="form-control" placeholder="Estado" formControlName="estado">
            </div>

            <br>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-danger" style="margin-left: 5px;" (click)="return()">Regresar</button>

        </form>

    </div>

<app-footer></app-footer>