<app-header></app-header>

<div class="container" style="margin-top: 40px;">
    <div class="card" style="margin-bottom: 10px;">
        <div class="class header">
            <h3>Datos del Usuario</h3>
        </div>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col"># Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Nacionalidad</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Celular</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{userData.UserId}}</th>
                <td>{{userData.Nombre}}</td>
                <td>{{userData.Correo}}</td>
                <td>{{userData.Nacionalidad}}</td>
                <td>{{userData.Ciudad}}</td>
                <td>{{userData.Celular}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div *ngIf="admin==true">
      <button type="button" class="btn btn-primary" style="float:left;" (click)="administrar()">Administrar</button>
    </div>
    <button type="button" class="btn btn-danger" style="float:right;" (click)="salir()">Cerrar sesion</button>
    
</div>

<app-footer></app-footer>