<app-header></app-header>


<div class="container" style="margin-top: 10px; margin-bottom: 10px;">

    <button type="button" class="btn btn-primary" style="float:initial; margin-bottom: 10px;" (click)="add()">agregar</button>

    <div class="card">
        <div class="class header">
            <h3>Datos del Usuario</h3>
        </div>
        <table class="table table-hover">
            <thead>
                <tr class="text-center">
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Genero</th>
                    <th>Ciudad</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios" class="text-center">
                    <td>{{usuario.UserId}}</td>
                    <td>{{usuario.Nombre}}</td>
                    <td>{{usuario.Genero}}</td>
                    <td>{{usuario.Ciudad}}</td>
                    <td>{{usuario.Celular}}</td>
                    <td>{{usuario.Correo}}</td>
                    <td><button type="button" class="btn btn-primary" style="float:left;" (click)="edit(usuario.UserId)">editar</button>
                        <button type="button" class="btn btn-danger" style="float:right;" (click)="delete(usuario.UserId)">eliminar</button></td>
                </tr>
            </tbody>
        </table>


    </div>

    <button type="button" class="btn btn-danger" style="float:left; margin-top: 10px;" (click)="return()">regresar</button>


</div>

<app-footer></app-footer>