<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets\logo.jpg" id="icon" alt="User Icon" style="margin: 50px;" />
      </div>
  
      <!-- Login Form, recibe por la funcion de angular ngsubmit, los campos son globales no es necesario pasar la variable -->
      <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
        <input type="text" id="login" class="fadeIn second" placeholder="Usuario" formControlName="usuario">
        <input type="password" id="password" class="fadeIn third" placeholder="Password" formControlName="password">
        <input type="submit" class="fadeIn fourth" value="Entrar">
      </form>
  
      <!-- Remind Passowrd -->

      
      <div class="alert alert-danger" *ngIf="errorStatus">
        <p>{{errorMsj}}</p>
      </div>
  
    </div>
  </div>
</body>